body {
    font-family: 'DM Sans', sans-serif;
    background: var(--background);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
}

main.main-content {
    flex: 1;
    margin: 0;
    display: flex;
    justify-content: center;
}

.alert {
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
    align-items: center;
    gap: 0.5rem;
}

.alert-success {
    background-color: var(--success);
    color: #fff;
}

.alert-error {
    background-color: var(--danger);
    color: #fff;
}

.form-card {
    background: var(--surface);
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 500px;
    margin: 20px auto;
}

.form-card h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input {
    padding: 0.75rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    font-size: 1rem;
}

.product-display {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: 1px solid var(--border);  
  border-radius: 8px;
  background: var(--background);        
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-display label {
  font-weight: 600;
  color: var(--text-primary); 
}

#product-name {
  font-weight: 500;
  color: #111827; 
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    color: var(--background);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--success);
}

.btn-clear {
    background-color: var(--accent-color);
}

.btn-clear:hover {
    background-color: #fc8906;
}